@charset "utf-8";
div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,body{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
.clearfix:after{content: "200B";height: 0;font-size: 0;display: block;clear: both;}
.clearfix{*zoom: 1;}
.clear{clear: both;}
img,input{border: none;}
header,nav,section,article,aside,footer{display: block;}
body{font-family:arial;}
html,body{height: 100%;}

.banner{width: 100%;display: block;position: relative;z-index: 2;}
.banner  .big_pic{font-size: 0;min-height: 112px;}
.banner  .big_pic img{width: 100%;min-height: 112px;}
.banner .dingwei{position: absolute;top: 262px;left: 198px;}
.banner h1{width: 627px;height: 136px;padding:20px 25px;background: rgba(0,0,0,0.6);font:50px/75px arial;color: white;transition: all 0.5s;overflow: hidden;}
.banner  .dingwei a{width: 212px;height: 72px;background: #191919;color: white;display: block;font: 21px/72px arial;text-align: center;transition: all 0.3s;float: left;overflow: hidden;}
.banner .find:hover{background: #d2232a;}
.banner .dingwei .shop2{width: 100px;background: #0087d5;}
.banner .your_sport{width:100%;border-top: 5px solid #d2232a;border-bottom: 5px solid #d2232a;overflow: hidden;background: #045f4a;}

.banner .your_sport ul{float: left;}
.banner .your_sport li{width: 20%;float: left;font-size: 0;transition: all 0.2s;}
.banner .your_sport li img{width: 100%;}


.page1{padding: 84px 56px;background: #e6e6e6;}
.page1 li{float: left;width: 33%;}
.page1 .pic{width: 40%;float: left;padding-right: 10px;}
.page1 .pic a{display: block;}
.page1 .pic img{width: 100%;}
.page1 h2 a{font:normal 18px/20px arial;color: black;transition: all 0.2s;display: block;}
.page1 h2 a:hover{color: #d2232a;}
.page1 p{font: 29px/65px arial;color: #d2232a;}
.page1 span a{display: block;font:bold 15px/26px arial;color: black;transition: all 0.2s;}
.page1 span a:hover{color: #d2232a;}

.page2 ul{background: #1a1a1a;}
.page2 li{float: left;width: 33.3%;}
.page2 li a{display: block;font-size: 0;}
.page2 li a img{width: 100%;float: left;}
.page3{background: #1a1a1a;}
.page3 .left{float: left;width: 60%;}

.page3 .left .pic{width: 100%;font-size: 0;}
.page3 .left .pic img{width: 100%;}


.page3 .left .pic1{}
.page3 .left .pic2{display: none;}


.page3  dl {padding: 20px 20px 20px 39px;color: #CCCCCC;float: left;width: 33.8%;}
.page3  .foot{float:right;padding-top: 20px;}
.page3  .like{background: url(../images/like_07.jpg) no-repeat;padding-left: 14px;margin-right: 20px;display: inline-block;}
.page3  .comment{background: url(../images/like_09.jpg) no-repeat;padding-left: 14px;display: inline-block;}
.page3 dt{padding-top: 20px;font-size: 25px;}
.page3 dd span{font-size: 31px;color: #808080;line-height: 1.5em;}
.page3 dd{border-bottom: 1px solid #363636;}
.page3 .last{border: none;}
.page3 p{font-size: 17px;line-height: 1.5em;}


.page3 .btn{margin-top: 70px;}
.page3 .btn a{margin-top: 70px;width: 178px;height: 52px;line-height: 52px;text-align: center;font-size: 22px;background: #d2232a;transition: all 0.3s;display: block;}
.page3 .btn a:hover{background: #007FFF;}






